.container {
    min-height: calc(100vh - 100px);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 20px;
}

/* Animación Spinner para la simulación de carga*/
.loadingIcon {
    border: 8px solid #f3f3f3;
    border-top: 8px solid #3498db;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    animation: spin 1s linear infinite;
    margin-bottom: 20px;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.loadingMessage {
    font-size: 1.5rem;
    color: #3498db;
    font-weight: bold;
}

/*Ícono de error, estilo similar al de Favoritos*/
.errorIcon {
    font-size: 5rem;
    color: #e74c3c;
    margin-bottom: 20px;
}

.errorMessage {
    font-size: 1.5rem;
    color: #e74c3c;
    font-weight: bold;
}